* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}


body{
	background-color: #D7D9CE;
}



.wrapper {
	width: 90%;
	font-size: 16px;
	max-width: 43.75em;
	margin: 1em auto;
	font-color: #000000;
}


.container {
	width: 100%;
}


.sub-container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3em;
}
.flex {
	display: flex;
	align-items: center;
}

.flex-space {
	display : flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper h3 {
	color:#000000;
	font-weight: 400;
	margin-bottom: 0.6em;
}

.container input {
	display: block;
	width: 100%;
	padding: 0.6em 0.3em;
	border: 1px solid #ffffff;
	border-radius: 0.2em;
	color: #000000;
	font-weight: 400;
	margin-bottom: 0.5em;

}

.container input:focus{
	border-color: #587ef4;
}

.total-amount-container, 
.user-amount-container {
	background-color: #D7D9CE;
	padding: 1.25em 0.9em;
	border-radius: 0.3em;
	box-shadow: 0 0.4em 1.2em rgba(25, 0, 50, 0.07);
}


.output-container {
	background-color: #0C7489;
	color: #ffffff;
	border-radius: 0.3em;
	box-shadow: 0 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
	margin: 2em 0;
	padding: 1.2em;

}

.output-container p {
	font-weight: 500;
	margin-bottom: 0.6em;
}

.output-container .flex-space {
	width: 500px;
}

.output-container span {
	display: block;
	text-align: center;
	font-weight: 400;
	color: #e5e5e5;
}

.submit {
	font-size: 1em;
	margin-top: 1em;
	background-color: #587ef4;
	border: none;
	outline: none;
	color: #ffffff;
	padding: 0.6em 1.2em;
	border-radius: 0.3em;
	cursor: pointer;
}


.list {
	background-color: #ffffff;
	padding: 1.8em 1.2em;
	box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
	border-radius: 0.6em;
}

.hide {
	display: none;
}

.error {
	color: #ff465a;
}